<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Debug builds only: allow plain-HTTP calls to the local Flask server (http://10.0.2.2:5000). -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:usesCleartextTraffic="true"/>
</manifest>
